Oauth2 using Gitlab fails with third_party_auth_unknown_error

I am configuring Tolgee to use Gitlab as a provider. This is the configuration I am using:

```
tolgee.authentication.oauth2.client-id=<REDACTED>
tolgee.authentication.oauth2.client-secret=<REDACTED>
tolgee.authentication.oauth2.scopes=read_user
tolgee.authentication.oauth2.authorization-url=https://gitlab.com/oauth/authorize
tolgee.authentication.oauth2.token-url=https://gitlab.com/oauth/token
tolgee.authentication.oauth2.user-url=https://gitlab.com/api/v4/user
```

In Gitlab, I have created an application (Group wide) with `http://tolgee.docker.localhost/login/auth_callback/oauth2` as the callback URL, and I have granted the `read_user` permission. I also tried enabling `openid`, `profile` and `email` roles but the error is always `third_party_auth_unknown_error` on the UI, and in the console the following is printed:

```
2022-12-24 12:20:53.224 ERROR 1 --- [nio-8080-exec-6] i.t.security.third_party.OAuth2Delegate  : Error while getting token from third party: 403 Forbidden: [no body]
```
Am I doing something wrong?

Seems like the client Id or client secret is not correct? Since I don't have access to the GitLab instance you're using, I cannot debug that. 

You can run the tolgee in locally in debug mode (using IntelliJ Idea Community Edition) and add breakpoints to the OAuth2Delegate.  

Or you can share the redacted credentials with me via our [Slack community](https://join.slack.com/t/tolgeecommunity/shared_invite/zt-195isb5u8-_RcSRgVJfvgsPpOBIok~IQ) and I can try to debug it with for you.

Hi,

I have tried for almost an hour to start the system as per the instructions on the README, but the docker runner for PG fails and therefore I am giving up.

I am using a public instance, so the address is gitlab.com. I have created a simple OAuth application and nothing more, it should be quite easy to see where the error is.

I had no issue setting up the base (more on that later) GitLab authentication with the configuration you provided, with both an application on my personal account and on an organisation (only read_user is required). I am unsure what your issue actually is, but it doesn't seem to be related to Tolgee itself 🤔 .

Make sure to triple check you're using the correct Application ID/Client Secret pair. It might also be due to your use of a non `http://localhost:port` domain, causing GitLab to refuse your plain http URL. GitLab [mentions it in their docs](https://docs.gitlab.com/ee/api/oauth2.html#use-https-in-production) but I didn't take the extra time to double check if they actually enforce this. Subdomains on localhost are actually not standardized and not every implementation/resolver recognizes it as localhost.

---

Coming back to my "base" point: it is currently not possible to use GitLab via the generic OAuth interface due to the fields expected internally: `sub` is quite a weird field to expect outside of JWT tokens and GitLab indeed does not provide such field. This causes the `third_party_auth_no_sub` error to be raised and the authentication to fail short.

We should consider allowing user to specify path to the field values in the configuration file. Since I'm at pointing out problems, Tolgee does not implement the following optional points of the [RFC 6749](https://www.rfc-editor.org/rfc/rfc6749), which may be required by a spec-compliant OAuth 2.0 server:

[RFC 6749 section 2.3.1 "Client Password"](https://www.rfc-editor.org/rfc/rfc6749#section-2.3.1) states:
> Clients in possession of a client password MAY use the HTTP Basic
   authentication scheme as defined in [[RFC2617](https://www.rfc-editor.org/rfc/rfc2617)] to authenticate with
   the authorization server.

[RFC 6749 section 4.1.1 "Authorization Request"](https://www.rfc-editor.org/rfc/rfc6749#section-4.1.1) states:
> The client constructs the request URI by adding the following
   parameters to the query component of the authorization endpoint URI
   using the "application/x-www-form-urlencoded" format, per [Appendix B](https://www.rfc-editor.org/rfc/rfc6749#appendix-B):
   [...]
>  - scope
      OPTIONAL.  The scope of the access request as described by
      [Section 3.3](https://www.rfc-editor.org/rfc/rfc6749#section-3.3).



